[submodule "benchmark/google-benchmark"]
	path = benchmark/google-benchmark
	url = https://github.com/google/benchmark
[submodule "tests/doctest"]
	path = tests/doctest
	url = https://github.com/onqtam/doctest
[submodule "include/spio/fmt"]
	path = include/spio/fmt
	url = https://github.com/fmtlib/fmt
[submodule "tests/coveralls-cmake"]
	path = tests/coveralls-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake.git
[submodule "include/spio/span"]
	path = include/spio/span
	url = https://github.com/eliaskosunen/span
